body {
	font-family: sans-serif; 
	font-size: 1em;
	padding: 0;
	margin: 0;
}
caption {
	padding-bottom: 1em;
	padding-left: 1.7em;
	padding-top: 0.5em;
}
#Zaehler {
	padding-top: 1em;
	padding-bottom: 2em;
}
#Schachbrett td {
	width: 1.5em; 
	height: 1.5em; 
	text-align: center;
	vertical-align: middle;
}
#Schachbrett .black {
	background-color: #a0a0a0;
	font-family: "Arial Unicode MS", "MS Mincho", "Apple Symbols"; 
	font-size: 2em;
}
#Schachbrett .white {
	background-color: #ffffff;
	font-family: "Arial Unicode MS", "MS Mincho", "Apple Symbols"; 
	font-size: 2em;
}
.oben {
	border-top: 1px solid black;
}
.rechts {
	border-right: 1px solid black;
}
.links {
	border-left: 1px solid black;
}
.unten {
	border-bottom: 1px solid black;
}
#note_panel {
	text-align: center;
	float: right;
}
#Notation {
	font-family: Courier;
	text-align: left;
	width: 15em;
}
#Notation span {
	display: inline-block;
	width: 7em;
}
input, select {
	margin-right: 1em;
	margin-bottom: 1em;
}
form div {
	width: 24em;
	margin-left: 1.7em;
	text-align: center;
}
#update, #upgrade {
	visibility: hidden;
}
#menubar {
	background-color: #333;
	padding: 0.7em 1em 0;
}
#menubar label {
	color: white;
	padding-right: 0.5em;
	font-family: "Optima", "Gill Sans";
}